/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
}
.uk-container{
    max-width: 1200px;
    padding: 0;
}
/* login */
.login{
    text-align: center;
    padding: 100px 0;
    background: url("../resources/img/background.jpg");
    background-size: cover;
    background-position: center;
}
.login .form{
    padding: 80px;
    background: #f5ecec1f;
}
.login .form h2{
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}
.login .form input{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}
.login .form input[type=submit]{
    display: inline-block;
    background: #07D;
    border: 2px solid #07D;
    color: #fff;
}
.login .form input[type=submit]:hover{
    color: #07D;
    background: #fff;
    border: 2px solid #fff;
}
.login .form .submit:hover{
    color: red;
}
.login .form a{
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
}

/* end login */

.create{
    text-align: center;
    padding: 100px 0;
    background: #2D6ED6;
}

.create .form{
    padding: 80px;
    background: #25030378;
}
.create .form h2{
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}
.create .form input[type=text], input[type=password], input[type=submit]{
    width: 300px;
    padding: 10px;
}
.create .form div{
    margin-bottom: 20px;
    color: #fff;
}
.create .form input[type=submit]{
    display: inline-block;
    background: #07D;
    border: 2px solid #07D;
    color: #fff;
}
.create .form .submit:hover{
    color: red;
}
.create .form a{
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
}

.index h1{
    text-align: center;
    padding: 30px 0 10px;
    color: #030303;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
}
.index a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

.delete{
    padding-top: 30px;
    text-align: center;
}
.delete h1{
    color: #030303;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
}
.delete input[type=submit] {
    color: #fff;
    background: #07D;
    border: 2px solid #07D;
    width: 200px;
}


